In [1]:
import pandas as pd
df=pd.read_csv('auto_mpg.csv', usecols=['mpg','horsepower','weight'])
print(df)

      mpg  horsepower  weight
0    18.0       130.0    3504
1    15.0       165.0    3693
2    18.0       150.0    3436
3    16.0       150.0    3433
4    17.0       140.0    3449
..    ...         ...     ...
393  27.0        86.0    2790
394  44.0        52.0    2130
395  32.0        84.0    2295
396  28.0        79.0    2625
397  31.0        82.0    2720

[398 rows x 3 columns]

In [2]:
df['std_mpg'] = (df['mpg'] - df['mpg'].mean()) / df['mpg'].std()
df['horsepower']=pd.to_numeric(df['horsepower'],errors='coerce')
df['std_horsepower'] =(df['horsepower'] - df['horsepower'].mean()) / df['horsepower'].std()
df['weight_mpg'] = (df['weight'] - df['weight'].mean()) / df['weight'].std()
print(df)

      mpg  horsepower  weight   std_mpg  std_horsepower  weight_mpg
0    18.0       130.0    3504 -0.705551        0.663285    0.630077
1    15.0       165.0    3693 -1.089379        1.572585    0.853259
2    18.0       150.0    3436 -0.705551        1.182885    0.549778
3    16.0       150.0    3433 -0.961437        1.182885    0.546236
4    17.0       140.0    3449 -0.833494        0.923085    0.565130
..    ...         ...     ...       ...             ...         ...
393  27.0        86.0    2790  0.445936       -0.479835   -0.213056
394  44.0        52.0    2130  2.620966       -1.363154   -0.992422
395  32.0        84.0    2295  1.085650       -0.531795   -0.797581
396  28.0        79.0    2625  0.573879       -0.661694   -0.407897
397  31.0        82.0    2720  0.957708       -0.583754   -0.295716

[398 rows x 6 columns]

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['mpg_std', 'horsepower_std', 'weight_std']] = scaler.fit_transform(df[['mpg', 'horsepower', 'weight']])
df[['mpg', 'mpg_std', 'horsepower', 'horsepower_std', 'weight', 'weight_std']]

      mpg   mpg_std  horsepower  horsepower_std  weight  weight_std
0    18.0 -0.706439       130.0        0.664133    3504    0.630870
1    15.0 -1.090751       165.0        1.574594    3693    0.854333
2    18.0 -0.706439       150.0        1.184397    3436    0.550470
3    16.0 -0.962647       150.0        1.184397    3433    0.546923
4    17.0 -0.834543       140.0        0.924265    3449    0.565841
..    ...       ...         ...             ...     ...         ...
393  27.0  0.446497        86.0       -0.480448    2790   -0.213324
394  44.0  2.624265        52.0       -1.364896    2130   -0.993671
395  32.0  1.087017        84.0       -0.532474    2295   -0.798585
396  28.0  0.574601        79.0       -0.662540    2625   -0.408411
397  31.0  0.958913        82.0       -0.584501    2720   -0.296088

[398 rows x 6 columns]

In [5]:
from sklearn.preprocessing import OneHotEncoder
df1=pd.read_csv('auto_mpg.csv')
pd.get_dummies(df1, columns=['origin'])
encoder = OneHotEncoder(sparse_output=False)
data=df1[['origin']]
encoded = encoder.fit_transform(data)
print(encoded)
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['origin']))
df1 = pd.concat([df1, encoded_df], axis=1)
df1

[[0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 ...
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,origin_europe,origin_japan,origin_usa
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.0,0.0,1.0
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.0,0.0,1.0
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.0,0.0,1.0
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.0,0.0,1.0
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.0,0.0,1.0
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,1.0,0.0,0.0
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.0,0.0,1.0
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.0,0.0,1.0
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,0.0,0.0,1.0