In [ ]:
import pandas as pd
df=pd.read_csv('titanic.csv',usecols = ['Age','Fare','Survived','Cabin'])
df

In [ ]:
df.isnull().sum()

In [ ]:
df['Fare'].fillna(method = 'ffill',inplace = True)
df.isnull().sum()

In [ ]:
df['Cabin'].fillna(method = 'bfill',inplace=True)
df.isnull().sum()

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace = True)
df.isnull().sum()

In [ ]:
df = pd.read_csv('titanoc.csv',usecols = ['Age','Fare','Survived'])
df

In [ ]:
df.interpolate(inplace=True)
df.isnull().sum()

In [ ]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)
df.isnull().sum()